In [1]:
# import re

import pandas as pd

# import nltk
# from nltk.corpus import stopwords
# from nltk.tokenize import word_tokenize
# from nltk.stem import PorterStemmer
# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.pipeline import Pipeline
# from sklearn.base import TransformerMixin

# nltk.download('stopwords')

In [5]:
df = pd.read_csv("Reddit_Combi.csv", sep=";", usecols=["Body_Title", "label"])

In [6]:
df.head()

                                          Body_Title  label
0  Envy to other is swallowing me Im from develop...      1
1  Nothin outta the ordinary. Paradise. Job stres...      1
2  Almost 49 and the chasm of emptiness has never...      1
3  I’m happy again After my closest friend left m...      0
4  Is it possible to recover from such a traumati...      1